:root {
    --blue-100:hsl(206, 94%, 87%);
    --blue-200:hsl(228, 100%, 84%);
    --blue-500:hsl(243, 100%, 62%);
    --blue-900:hsl(213, 96%, 18%);
    --red-400:hsl(354, 84%, 57%);

    --gray-200:hsl(229, 24%, 87%);
    --gray-400:hsl(231, 11%, 63%);
    
    --white:hsl(0, 0%, 100%);
    --alabaster:hsl(231, 100%, 99%);
    --magnolia:hsl(217, 100%, 97%);


}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
}
.container {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
button {
    font-family: 'Ubuntu', sans-serif;
}
fieldset {
    padding: 0;
    margin: 0;
    border: none;
}
.thank-you, .confirm-btn {
    display: none;
}
.first-step, .second-step, .third-step, .fourth-step {
    visibility: hidden;
}
label {
    color: var(--blue-900);
    font-size: 0.8rem;
    font-weight: 500;
    padding-bottom: 0.3rem;
}
input[type="text"], input[type="email"] {
    border: 1px solid var(--gray-200);
    border-radius: 5px;
    opacity: 0.9;
    padding: 0.8rem 1rem;
    margin-bottom: 1rem;
}
input::placeholder {
    font-size: 1rem;
    color: var(--gray-400);
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
}
.header {
    background-image: url('../images/bg-sidebar-mobile.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    gap:1rem;
    min-height: 170px;
}
.step-number {
    border: 1px solid var(--white);
    border-radius: 50%;
    color: var(--white);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    padding-bottom: 0.1rem;
}
.selected {
    background-color: var(--blue-100);
    border: 1px solid var(--blue-100);
    color: var(--blue-900);
}
.step-description {
    display: none;
}
.main {
    background-color: var(--magnolia);
}
.footer {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.go-back-btn {
    background-color: transparent;
    border: none;
    color: var(--gray-400);
    visibility: hidden;
}
.next-step-btn {
    background-color: var(--blue-900);
    border-radius: 5px;
    color:var(--magnolia);
    padding: 0.7rem;
    border: none;
    font-size: 0.950rem;
}
form {
    position: relative;
    min-height: 440px;
}
fieldset {
    position: absolute;
    min-height: 440px;
    width: 100%;
    left:0;
    right:0;
    margin-inline: auto;
}
.step-section {
    /* transform: translateY(-105px); */
    position: relative;
    top:-73px;
    width: 90%;
    left:0;
    right:0;
    margin-inline: auto;
    border-radius: 10px;
    background-color: var(--white);
    padding: 1.5rem 1.5rem;

}
.section-header {
    padding-bottom: 1.5rem;
}
.section-header h1 {
    font-size: 1.8rem;
    color: var(--blue-900);
    padding-bottom: 1rem;
}
.section-header p {
    color: var(--gray-400);
    line-height: 1.4;
}
.section-options {
    display: grid;
}
.billing-options {
    display: grid;
    gap: 1rem;
}
.option {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--gray-200);
    border-radius: 10px;
    padding: 1rem;
}
.selected-option {
    border: 1px solid var(--blue-900);
    background-color: var(--alabaster);
}
.option h4 {
    color: var(--blue-900);
    padding-bottom: 0.3rem;
    font-weight: 500;
    
}
.option-price {
    color: var(--gray-400);
    font-size: 0.9250rem;
}
.free-months {
    display: none;
}
.billing-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--alabaster);
    padding: 1rem;
    border-radius: 10px;
}
.monthly-toggle {
    font-weight: 500;
    color: var(--blue-900);
}
.toggle {
    border-radius: 100vw;
    background-color: var(--blue-900);
    width: 40px;
    height: 20px;
    margin: 0rem 1.5rem;
    padding: 0.25rem;
}
.toggle-ball {
    aspect-ratio: 1/1;
    background-color: var(--white);
    height: 100%;
    border-radius: 50%;
}
.yearly-toggle {
    color: var(--gray-400);
}
.addons-options {
    display: grid;
    gap: 0.8rem;
}
.addon-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1rem;
    border: 1px solid var(--gray-200);
    border-radius: 10px;
    padding: 1rem;
}
.selected-addon {
    border: 1px solid var(--blue-500);
    background-color: var(--alabaster);
}
.addon-info {
    margin-right: auto;
}
.addon-info h4 {
    font-size: 0.9rem;
    color: var(--blue-900);
    padding-bottom: 0.250rem;
}
.addon-info p {
    color: var(--gray-400);
    font-size: 0.7rem;
    /* width: 170px; */
}
.addon-price {
    font-size: 0.8rem;
    color: var(--blue-500);
    font-weight: 500;
}
input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: var(--white);
    border: 1px solid var(--gray-200);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="checkbox"]::after {
    content: url('../images/icon-checkmark.svg');
    display: none;
}
input[type="checkbox"]:checked {
    background-color: var(--blue-500);
}
input[type="checkbox"]:checked::after {
    display: block;
}
.selected-options {
    padding: 1rem;
    background-color: var(--alabaster);
    border-radius: 10px;
}
.selected-ones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
.selected-ones a {
    display: none;
}
.addon-info {
    display: grid;
}
.selected-price {
    color: var(--blue-900);
    font-size: 0.9rem;
    font-weight: 500;
}
.selected-option-name {
    font-size: 0.9rem;
    color: var(--gray-400);
}
.total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.5rem;
    padding-top: 1.5rem;
}
.total-price-amount {
    color: var(--blue-500);
    font-weight: 700;
}
.confirm-btn {
    background-color: var(--blue-500);
    border-radius: 5px;
    color:var(--magnolia);
    padding: 0.7rem 1.1rem;
    border: none;
    font-size: 0.950rem;
}
/* JS CLASSES */

.active {
    display: block;
}
.hidden {
    display: none;
}
.show {
    visibility: visible;
}